.group-list {
    margin-top: 30px;
}

.group-list .group-list_bx {
    width: 1170px;
    margin: 0 auto;
    position: relative;
}

.group-list .group-list_common {
    margin-bottom: 30px;
}

.group-list .group-list_common .group-list_head_common {
    height: 30px;
    margin-bottom: 12px;
}

.group-list .group-list_common .group-list_head_common > a {
    float: left;
    height: 30px;
    overflow: hidden;
}

.group-list .group-list_common .group-list_head_common > ul li {
    float: left;
    height: 30px;
    line-height: 30px;
}

.group-list .group-list_common .group-list_head_common > ul li a {
    padding: 0 9px;
    border-right: 1px solid #ddd;
    line-height: 14px;
    font-size: 14px;
}

.group-list .group-list_common .group-list_head_common > ul li a:hover {
    color: #2bb8aa;
}

.group-list .group-list_common .group-list_head_common > ul li:nth-last-child(1) a {
    border: none;
    margin-left: 12px;
}

.group-list .group-list_common .group-list_commodity_common {
    height: 312px;
}

.group-list .group-list_common .group-list_commodity_common > div {
    float: left;
    width: 291px;
    height: 311px;
    border-top: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
}

.group-list .group-list_common .group-list_commodity_common > div:nth-last-child(1) {
    width: 292px;
    border: 1px solid #eeeeee;
    border-bottom: none;
}

.group-list .group-list_common .group-list_commodity_common > div > a {
    display: block;
    padding: 12px 15px 0 15px;
    perspective: 260px;
    perspective-origin: right top;
}

.group-list .group-list_common .group-list_commodity_common > div > a > img {
    width: 260px;
    height: 157px;
    transform-style: preserve-3d;
    transition: transform 2s cubic-bezier(0.5,-0.41, 0.25, 1.74) 0.1s;
    transform-origin: center center -102px;
}

.group-list .group-list_common .group-list_commodity_common > div > a:hover > img {
    transform: rotate3d(-130,78,0,360deg);
}

.group-list .group-list_common .group-list_commodity_common > div > h3 {
    margin-top: 12px;
    padding: 0 15px 5px 15px;
    height: 48px;
}

.group-list .group-list_common .group-list_commodity_common > div > h3 > a {
    display: block;
}

.group-list .group-list_common .group-list_commodity_common > div > h3 > a > span:nth-child(1) {
    display: block;
    font-size: 14px;
    height: 24px;
    line-height: 24px;
}

.group-list .group-list_common .group-list_commodity_common > div > h3 > a > span:nth-last-child(1) {
    display: block;
    color: #999999;
    height: 24px;
    line-height: 24px;
}

.group-list .group-list_common .group-list_commodity_common > div > p {
    height: 24px;
    padding: 0 15px;
    margin-bottom: 10px;
}

.group-list .group-list_common .group-list_commodity_common > div > p > strong {
    font-size: 20px;
    color: #f76120;
}

.group-list .group-list_common .group-list_commodity_common > div > p > b {
    color: #999999;
}

.group-list .group-list_common .group-list_commodity_common > div > p > del {
    color: #999999;
}

.group-list .group-list_common .group-list_commodity_common > div > p > span {
    float: right;
    margin-top: 8px;
    color: #999999;
}

.group-list .group-list_common .group-list_commodity_common > div > div {
    height: 46px;
    padding: 0 15px;
}

.group-list .group-list_common .group-list_commodity_common > div > div > p {
    border-top: 1px dotted #eeeeee;
}

.group-list .group-list_common .group-list_commodity_common > div > div > p > a {
    float: right;
    height: 33px;
}

.group-list .group-list_common .group-list_commodity_common > div > div > p > a > span:nth-child(1) {
    width: 60px;
    height: 12px;
    display: inline-block;
    background: url(../images/star1.png);
    margin-right: 5px;
}

.group-list .group-list_common .group-list_commodity_common > div > div > p > a > span:nth-child(1) > span {
    width: 88%;
    height: 12px;
    display: inline-block;
    background: url(../images/star2.png);
}

.group-list .group-list_common .group-list_commodity_common > div > div > p > a > span:nth-child(2) {
    height: 33px;
    line-height: 33px;
    display: inline-block;
}