
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1494477864723'); /* IE9*/
  src: url('iconfont.eot?t=1494477864723#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1494477864723') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1494477864723') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1494477864723#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jinggao:before { content: "\e6d4"; }

.icon-iconziti09:before { content: "\e612"; }

.icon-gift:before { content: "\e62f"; }

.icon-icon14:before { content: "\e60b"; }

.icon-bofang:before { content: "\e778"; }

.icon-quanping:before { content: "\e62e"; }

.icon-deng:before { content: "\e617"; }

.icon-danmuguanbi:before { content: "\e8f9"; }

.icon-danmukaiqi:before { content: "\e8fa"; }

.icon-icon-clear:before { content: "\e606"; }

.icon-MobilePortraitCopy:before { content: "\e65b"; }

.icon-jinggao1:before { content: "\e610"; }

.icon-danmu:before { content: "\e64d"; }

.icon-yinliang:before { content: "\e654"; }

