body {
    line-height: 1;
    overflow: hidden;
}
/*top*/
.top {
    padding: 13px 0;
    height: 44px;
    padding-left: 30px;
    background-color: #fff7e4;
    box-shadow: 1px 1px 3px rgba(0,0,0,.1);
    position: fixed;
    width: 100%;
    min-width: 960px;
    opacity: .7;
    z-index: 1001;
}
.menu {
    height: 100%;
    line-height: 70px;
    vertical-align: middle;
    width: 560px;
    font-size: 16px;
    padding-right: 31px;
    position: absolute;
    right: 10px;
    top: 0;
}
.menu span {
    padding-left: 40px;
    cursor: pointer;
    color: #333;
}
.menu span:hover{
    font-size: 16px;
    color: #41cba9;
}
/*dian*/
.dian {
    z-index: 2000;
    position: fixed;
    top: 50%;
    right: 16px;
    margin-top: -40px;
}
.dian ul li {
    position: relative;
    height: 26px;
    width: 26px;
}
/*page*/
.page {
    height: 900px;
    position: relative;
    width: 100%;
    overflow: hidden;
}
.page1 {
    background-color: #feda89;
    z-index: 10;
}
.page2 {
    background-color: #de4f50;
    z-index: 15;
}
.page3 {
    background-color: #904a68;
    z-index: 20;
}
.page4 {
    background-color: #68c39f;
    z-index: 25;
}
/*onload*/
.onload {
    width: 301px;
    height: 363px;
    position: fixed;
    top:158px;
    right:195px;
    z-index: 1000;
}
.onload .onload_top {
    height: 60px;
    background-image:url("../images/text.png") ;
    background-position: 0 0;
    background-repeat: no-repeat;
}
.onload .onload_bottom {
    overflow: hidden;
    height: 289px;
    margin-top: 15px;
    background: url("../images/qr-bg_v2.png") no-repeat;
}
.onload .onload_bottom .onload_bottom_t {
    width: 120px;
    height: 120px;
    margin-top: 27px;
    margin-left: 52px;
    background: url("../images/qr-code_v2.png");
}
.onload .onload_bottom .onload_bottom_b {
    width: 166px;
    height: 48px;
    margin-top: 64px;
    margin-left: 26px;
    background: url("../images/download.png");
}
.onload .onload_bottom div.onload_bottom_b:hover{
    background: url("../images/download-btn-hover.png");
}
/*��Чͼ1*/
#wheel_div {
    position: relative;
    margin:0 auto;
    width: 900px;
    height: 100%;
}
#wheel-1 {
    position: absolute;
    z-index: 12;
    top:194px;
    left: -20px;
}
#wheel-2 {
    position: absolute;
    z-index: 12;
    top: 158px;
    left: 352px;
}
#wheel-3_div {
    position: absolute;
    z-index: 12;
    width: 105px;
    height: 105px;
    top: 450px;
    left: 302px;
}
#wheel-4_div {
    position: absolute;
    width: 90px;
    height: 90px;
    z-index: 11;
    top: 518px;
    left: 294px;
}
#ph1 {
    position: absolute;
    z-index: 13;
    top: -300px;
    left: 70px;
}
#cl_mask {
    position: absolute;
    z-index: 14;
    top: 280px;
    left: 25px;
}
/*��Чͼ2*/
#ditu {
    position: relative;
    margin:0 auto;
    width: 900px;
    height: 100%;
}
#ditu img {
    position: absolute;
}
#cloud {
    top: 56px;
    left: 420px;
    z-index: 18;
}
#nail {
    top: -121px;
    left: 149px;
    z-index: 17;
}
#map {
    top: 266px;
    left: 0px;
    z-index: 16;
}
/*��Чͼ3*/
#seller_loc {
    position: relative;
    margin:0 auto;
    width: 900px;
    height: 100%;
}
#seller_loc img{
    position: absolute;
}
#fun {
    z-index: 23;
    left:49px;
    top:-300px;
}
#shop {
    z-index: 22;
    left:41px;
    top: -15px;
}
#v-phone {
    z-index:21 ;
    left:-55px;
    top: 418px;
}
/*��Чͼ*/
#gift {
    position: relative;
    margin:0 auto;
    width: 900px;
    height: 100%;
}
#gift img {
    position: absolute;
}
#ballon {
    z-index: 28;
    top: 120px;
    left: 70px;
    opacity: 0;
}
#phone_1 {
    position: absolute;
    width: 424px;
    height: 208px;
    z-index: 27;
    top: 159px;
    left: 111px;
}
#phone_2 {
    z-index: 27;
    top: 264px;
    left: 122px;
}
#gift_1 {
    z-index: 26;
    top: 350px;
    left: 150px;
}
#gift_2 {
    z-index: 26;
    top: 400px;
    left: 205px;
}
canvas {
    position: absolute;
    z-index: 1000;
    top:0px;
    left: 0px;
}
